*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.formCard{
    width:100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.295);
    position:absolute;
    display:flex;
    justify-content: center;
    top:0%;
    left:0%;
    flex-direction: column;
    align-items: center;
}
.formCard form{
    padding: 20px;
    width:300px;
    height: 350px;
    margin-top: -400px;
    background-color: white;
    border-radius: 15px;
}
#title{
    padding: 5px;
    border-radius: 15px;
    width:100%;
    transition: .5s;
    border: 1px solid grey;
}
#txtarea{
    transition: .5s;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid grey;
    width:100%;
}
.formCard input:focus,textarea:focus{
    outline: none;
    box-shadow: 1px 0px 13px 0px dodgerblue;
}
.formCard button{
    padding: 5px;
    width:100%;
    background-color: dodgerblue;
    color:white;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
}
.image{
    position: absolute;
    width: 30px;
    right: 0%;
    top: 0%;
}